@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
    padding: 50px 50px 50px 50px;
    font-family: system-ui, "Segoe UI", Helvetica, Arial, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji";
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px;
    gap: 40px;
    background: #0f1923;
}

.Header{
    gap: 50px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.TitleSmall1{
    font-size: 14px;
    font-style: oblique;
    color: #ece8e1;
}

.TitleBig{
    font-size: 28px;
    color: #ff4655;
}

.TitleSmall2{
    font-size: 14px;
    font-style: oblique;
    color: #ece8e1;
}

.Conteiner1 {
    gap: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 45px;
    border-radius: 20px;
    box-shadow: 0 5px 10px #080d12;
}

.BigBlock {
    gap: 20px;
    display: flex;
    justify-content: center;
    max-width: 1000px;
    flex-direction: row;
}

.Box {
    gap: 20px;
    padding: 20px;
    border-radius: 20px;
    background: #ece8e1;
}

.Picture {
    max-width: 300px;
    max-height: 500px;
    object-fit: cover;
    border-radius: 20px;
}

.PictureHolder {    
    display: flex;
    flex-direction: row;

}

.AbilityIcon {
    max-width: 64px;
    max-height: 64px;
    padding: 3.8px;
    justify-content: center;
    background-color: #0f1923;
    border-radius: 10px;
}

.AbilityIcon:hover {
    max-width: 64px;
    max-height: 64px;
    padding: 3.8px;
    justify-content: center;
    background-color: #203344;
    border-radius: 10px;
}

.AbilityIcon:active {
    max-width: 64px;
    max-height: 64px;
    padding: 3.8px;
    justify-content: center;
    background-color: #ff4655;
    border-radius: 10px;
}

.AgentTitle {
    gap: 0px;
    background: #ece8e1;
    max-height: 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0px 0px 20px 0px;
    color: black;
}

.AgentName {
    font-size: 30px;
    font-weight: 500;
    margin: 0;
}

.Role {
    font-size: 18px;
    margin: 0;
}

.ButtonPlace1 {
    position: absolute;
    margin: 250px 0 0 0;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    background: #ff4655;
}

.ButtonText {
    margin: -20px;
    color: #ece8e1;
    font-weight: bold;
    font-size: 50px;
}

.ButtonPlace2 {
    position: absolute;
    margin: 250px -1340px 0 0;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    background: #ff4655;
    cursor: pointer;
}

.ButtonPlace1:hover {
    align-items: center;
    margin: 250px 0 0 0;
    width: 40px;
    height: 40px;
    position: absolute;
    border-radius: 5px;
    background: #fb6f7a;
}

.ButtonPlace1:active {
    align-items: center;
    margin: 250px 0 0 0;
    width: 40px;
    height: 40px;
    position: absolute;
    border-radius: 5px;
    background: #f8182b;
}

.ButtonPlace2:hover {
    align-items: center;
    margin: 250px -1340px 0 0;
    width: 40px;
    height: 40px;
    position: absolute;
    border-radius: 5px;
    background: #fb6f7a;
}

.ButtonPlace2:active {
    align-items: center;
    margin: 250px -1340px 0 0;
    width: 40px;
    height: 40px;
    position: absolute;
    border-radius: 5px;
    background: #f8182b;
}

.SmallBlock {
    align-items: center; 
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 100px;
}

.SmallBox {
    gap: 12px;
    display: flex;
    flex-direction: column;
    max-width: 150px;
    align-items: center;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 5px 10px #7a7a7a;
    background-color: #ece8e1;
}

.Icon {
    max-width: 125px;
    border-radius: 5px;
}

.SmallBlockBright {
    align-items: center; 
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding-top: 100px;
    background-color: #ece8e1;
}

.SmallBoxDark {
    gap: 12px;
    display: flex;
    flex-direction: column;
    max-width: 150px;
    align-items: center;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 5px 10px #1a1a1a;
    background-color: #0f1923;
}

p.TextBright {
    color: #ece8e1;
}